@page
@model IndexModel

@inject UserManager<IMS_User> UserManager

@using Microsoft.AspNetCore.Identity
@using Cadet_Uniform_IMS.Data


@{
    ViewData["Title"] = "Home";
}

<div class="container text-center mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <a asp-page="/StockCRUD/Index" class="btn btn-primary btn-lg w-100">Browse Uniform</a>
        </div>
        @if(User.IsInRole("Admin") || User.IsInRole("Staff"))
        {
            <div class="col-md-4 mb-3">
                <a asp-page="/StockCRUD/Create" class="btn btn-primary btn-lg w-100">Add/Return Uniform</a>
            </div>

        }
        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-4 mb-3">
                <a asp-page="/Admin/ManageUsers" class="btn btn-primary btn-lg w-100">Manage Accounts</a>
            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-4 mb-3">
                <a asp-page="/Admin/BrowseUniform_Types" class="btn btn-primary btn-lg w-100">Manage Uniform Categories</a>
            </div>
        }
        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">Page 5</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-primary btn-lg w-100">Page 6</a>
        </div>
    </div>
</div>