################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cadet-Uniform-IMS/.vs/Cadet-Uniform-IMS/v17/.suo
