@using Microsoft.AspNetCore.Identity
@using Cadet_Uniform_IMS.Data

@inject SignInManager<IMS_User> SignInManager
@inject UserManager<IMS_User> UserManager
@inject IMS_Context IMS_Context


<ul class="navbar-nav d-flex align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var basket = IMS_Context.BasketStock.Where(i => i.UID == user.Id).FirstOrDefault();
        @if (basket != null){
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="/StockCRUD/Basket">Basket</a>
            </li>
        }

        <li class="nav-item me-3">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @user.Name
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="d-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-link nav-link text-dark p-0">Logout</button>
            </form>
        </li>
    }
</ul>
